/********************Footer**************************/
.layout__footer{
    display: flex;
    justify-content:center;
    align-items:center;
    height:10vh;
    background-color: $secondary-color;

}