/***************Header***************************/
.layout__header{
    display: flex;
    width: 100vw;
    height: 15rem;
    align-items:center;
    justify-content:left;
    background-color:$secondary-color;
    &__img{
       height: 30rem;
    }
}


