/******************Main******************************/
.container{
    height:80vh;
    background: $tertiary-color;
}


.loginFigure{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    width:200px;
    height:200px;
    border-radius:0 50px;
    background-color:$primary-color;
    border:solid 10px $secondary-color;
    box-shadow: 5px 5px 15px black;
}

.loginFigure img {
  width:50px;
  background-color:$primary-color;
}


.home-btn{
    display:flex;
    height:50px;
    width:150px;
    justify-content:center;
    align-items:center;
    font-size:1rem;
    font-weight:bold;
    list-style-type: none;
    text-decoration:none;
    background:$quaternary-color;
    color:$secondary-color;
    border-radius:50px;
    box-shadow: 5px 5px 5px black;
}
