.home{
    display:flex;
    width:100vw;
    background-color:$secondary-color;
    justify-content:center;
    &__btn{
        width: 15rem;
        height: 25rem;
        border-radius: 1rem;
        margin: 3rem;
        & h3:hover{
            background-image: url("../ressources/login.svg");
            background-repeat:no-repeat;
            background-size:center;
            transform: translateY(9rem);
            transition: all 3s;
            width: 14,5rem;
            
        }
        
    }
}
