h1 {
    font-family: Lato;
    font-size: 1.5rem; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 1.65rem; 
    } 

h2 {
    font-family: Lato;
    font-size: 1rem; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 1.5rem; 
    } 
    
h3 { 
    font-family: Lato;
    font-size: 0.875rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 0.963rem;
    } 
    
p { 
    font-family: Lato;
    font-size: 0.875rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.25rem; 
    } 
    
blockquote {
    font-family: Lato;
    font-size: 1.313rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.875rem;
    } 

pre {
    font-family: Lato;
    font-size: 0.815rem;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1.1607125rem;
    }