// $red:red;
// $orange:orange;
// $yellow:yellow;

// $colors:(
//         purple:#b942f5,
//         green:#42f566,
//         red:#f54287
// );


    /*Palette color name : before nightfall;*/
    $primary-color:#8EB7CE; /*Mistyblue*/
    $secondary-color:#54627B; /*Blue Gray*/
    $tertiary-color:#A2BEEF; /*Serenity*/
    $quaternary-color:#FBB2A3; /*Salmon*/
