/* Coolors Exported Palette - https://coolors.co/f1dac4-a69cac-474973-161b33-0d0c1d 

 CSS HEX 

--almond: #f1dac4ff;
--heliotrope-gray: #a69cacff;
--purple-navy: #474973ff;
--oxford-blue: #161b33ff;
--xiketic: #0d0c1dff;



 CSS HSL 
--almond: hsla(29, 62%, 86%, 1);
--heliotrope-gray: hsla(278, 9%, 64%, 1);
--purple-navy: hsla(237, 24%, 36%, 1);
--oxford-blue: hsla(230, 40%, 14%, 1);
--xiketic: hsla(244, 41%, 8%, 1);

SCSS HEX 
$almond: #f1dac4ff;
$heliotrope-gray: #a69cacff;
$purple-navy: #474973ff;
$oxford-blue: #161b33ff;
$xiketic: #0d0c1dff;

 SCSS HSL *
$almond: hsla(29, 62%, 86%, 1);
$heliotrope-gray: hsla(278, 9%, 64%, 1);
$purple-navy: hsla(237, 24%, 36%, 1);
$oxford-blue: hsla(230, 40%, 14%, 1);
$xiketic: hsla(244, 41%, 8%, 1);

SCSS RGB 
$almond: rgba(241, 218, 196, 1);
$heliotrope-gray: rgba(166, 156, 172, 1);
$purple-navy: rgba(71, 73, 115, 1);
$oxford-blue: rgba(22, 27, 51, 1);
$xiketic: rgba(13, 12, 29, 1);

 SCSS Gradient 
$gradient-top: linear-gradient(0deg, #f1dac4ff, #a69cacff, #474973ff, #161b33ff, #0d0c1dff);
$gradient-right: linear-gradient(90deg, #f1dac4ff, #a69cacff, #474973ff, #161b33ff, #0d0c1dff);
$gradient-bottom: linear-gradient(180deg, #f1dac4ff, #a69cacff, #474973ff, #161b33ff, #0d0c1dff);
$gradient-left: linear-gradient(270deg, #f1dac4ff, #a69cacff, #474973ff, #161b33ff, #0d0c1dff);
$gradient-top-right: linear-gradient(45deg, #f1dac4ff, #a69cacff, #474973ff, #161b33ff, #0d0c1dff);
$gradient-bottom-right: linear-gradient(135deg, #f1dac4ff, #a69cacff, #474973ff, #161b33ff, #0d0c1dff);
$gradient-top-left: linear-gradient(225deg, #f1dac4ff, #a69cacff, #474973ff, #161b33ff, #0d0c1dff);
$gradient-bottom-left: linear-gradient(315deg, #f1dac4ff, #a69cacff, #474973ff, #161b33ff, #0d0c1dff);
$gradient-radial: radial-gradient(#f1dac4ff, #a69cacff, #474973ff, #161b33ff, #0d0c1dff);
*/